Agente_V2/Workflows/IADODESIA-89B1E6DC-00D2-6FF1-D42E-277226D35276.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonlinebusiness-1": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_451cf"
        },
        "runtimeSource": "invoker"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_88587"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Raw",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows_present_in_a_table": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "sites/cafbanco.sharepoint.com,fec97da1-21b8-4a0e-97e0-6507074a1bf3,241fd241-f011-4e8d-b203-41444e179ce7",
              "drive": "b!oX3J_rghDkqX4GUHB0ob80HSHyQR8I1OsgNBRE4XnOfHRwpN7HmcQaAhG3DRBa_W",
              "file": "01J5KQM5UIZS7MQIMIDJHICUWIVKMXYDIR",
              "table": "{BF4C1862-71AB-451F-983E-177FC3383DAE}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "operationId": "GetItems",
              "connectionName": "shared_excelonlinebusiness-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "01J5KQM5UIZS7MQIMIDJHICUWIVKMXYDIR": "/Copilot/ODESIA/Base IADs.xlsx",
            "tableId": "{BF4C1862-71AB-451F-983E-177FC3383DAE}"
          }
        },
        "Run_a_prompt": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "recordId": "98463702-0eb5-41cb-b17e-05053123b304",
              "item/requestv2/Text_20input": "@body('Join')",
              "item/requestv2/Raw": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
              "operationId": "aibuilderpredict_customprompt",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Join": [
              "Succeeded"
            ]
          }
        },
        "Join": {
          "type": "Join",
          "inputs": {
            "from": "@outputs('List_rows_present_in_a_table')?['body/value']",
            "joinWith": " "
          },
          "runAfter": {
            "List_rows_present_in_a_table": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "iad": {
                  "title": "IAD",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "iad": "@{outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']}"
            }
          },
          "runAfter": {
            "Run_a_prompt": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "description": "This flow starts when a manual trigger receives text input. It retrieves rows from a specified Excel table stored in SharePoint, then combines the data into a single string. The combined data and the original input are sent to an AI model for processing. The AI model generates a response based on the provided information. Finally, the flow returns the AI-generated result to the user as the output. The flow’s sequence is determined by success conditions, ensuring each step only runs after the previous one completes successfully."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}